name: Lint

on:
  push:
    branches:
      - master
    paths:
      - "**.swift"
  pull_request:
    branches:
      - master
    paths:
      - "**.swift"

jobs:
  swiftlint:
    name: SwiftLint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install SwiftLint
        run: brew install swiftlint
      - name: Run SwiftLint
        run: swiftlint --strict
